@import "tailwindcss";

@theme {
  --font-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --font-arial: Arial, Helvetica, sans-serif;
}

.w-login-md {
  @media (width >= 48rem) {
    width: 80%;
  }
}

.menu-hidden {
  display: none !important;
}

.smaller-text {
  font-size: 8px;
}

.transfer-text {
  font-size: 11px;
}

.tab-active {
  border-bottom: 2px solid oklch(57.7% 0.245 27.325);
  color: oklch(57.7% 0.245 27.325);
  font-weight: bold;
  transform: scale(1);
}

@media (max-width: 767px) {
    #sidebar .tab-active {
        color: white;
        border-bottom: none;
    }
    .menu-hidden {
        display: none !important;
    }
}